.grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  background-color: #ffffff;
  padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: 50px auto 70px auto;
    grid-gap: 50px;
    padding: 10px;
  }
  .items {
  padding: 20px;
  text-align: center;
  font-size: 35px;
}
.search{
    padding-top: 100px;
    padding-bottom: 20px;
}
.additem{
    width: 100px;
    padding-top: 20px;
    padding-left: 5px;
}
.btn-add-motor{
  width: 100px;
}

.search-form {
  top: 60%;
  left: 50%;
  width: 97vw;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(12, 8, 8, 0.15);
  transform: translate(0%, 0%);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 93vw;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}
