.grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  background-color: #ffffff;
  padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: 50px auto 70px auto;
    grid-gap: 50px;
    padding: 10px;
  }
  .items {
  padding: 20px;
  text-align: center;
  font-size: 35px;
}
.search{
    padding-left: 15px;
    width: 500px;
}
.additem{
    width: 50px;
    padding-top: 20px;
    padding-left: 15px;
}
